.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 12px;
  margin-left: 1%;
  margin-right: 1%;
  border: 3px black solid;
  background-color: rgb(96, 75, 53);
}

@media screen and (min-width: 600px) {
  .tiles {
    margin-left: 18%;
    margin-right: 18%;
  }
}
@media screen and (min-width: 800px) {
  .tiles {
    margin-left: 30%;
    margin-right: 30%;
  }
}
@media screen and (min-width: 1000px) {
  .tiles {
    margin-left: 37%;
    margin-right: 37%;
  }
}
