.infoTiles {
  display: flex;
  justify-content: space-around;
  margin-top: 18px;
  margin-left: 10%;
  margin-right: 10%;
}

.dayCountContainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.dayCount {
  background: linear-gradient(to bottom, #ffffff 5%, #b3b3b3 100%);
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid #000000;
  color: #000000;
  font-size: 15px;
  padding: 7px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #999999;
}

@media screen and (min-width: 600px) {
  .infoTiles {
    margin-left: 13%;
    margin-right: 13%;
  }
}
@media screen and (min-width: 800px) {
  .infoTiles {
    margin-left: 24%;
    margin-right: 24%;
  }
}
@media screen and (min-width: 1000px) {
  .infoTiles {
    margin-left: 37%;
    margin-right: 37%;
  }
}
