.infoTiles {
  display: flex;
  justify-content: center;
  border: 1px black solid;
  background-color: gray;
  margin-top: 12px;
}

.dayCount {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px black solid;
  background-color: white;

  padding: 5px;
}

.dayCountContainer {
  border: 1px black solid;
  background-color: gray;
  margin-top: 12px;
  display: flex;
  justify-content: space-around;
}
