.outerSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splashPageTitle {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.splashSection {
  background-color: rgb(255, 255, 255);
  color: rgb(45, 45, 47);
  border: 2px solid rgb(32, 32, 32);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
}

.grid {
  width: 255px;
  height: 255px;
}

@media screen and (min-width: 600px) {
  .splashSection {
    margin-left: 17%;
    margin-right: 17%;
  }
}

@media screen and (min-width: 800px) {
  .splashSection {
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media screen and (min-width: 1000px) {
  .splashSection {
    margin-left: 30%;
    margin-right: 30%;
  }
}
