.outerSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splashPageTitle {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.splashSection {
  /* min-height: 200px; */
  /* padding: 5px 15px 20px 15px; */
  background-color: rgb(255, 255, 255);
  color: rgb(45, 45, 47);
  border: 2px solid rgb(32, 32, 32);
  border-radius: 15px;
  /* margin-bottom: 10px;
  box-shadow: inset 0px 1px 0px 0px #1c1b18; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.grid {
  width: 255px;
  height: 255px;
}
