.geneGroup {
  display: flex;
  flex-wrap: wrap;

  margin: 2px;
}

.genePair {
  flex: 1;
  justify-content: space-between;
  border: 1px black solid;
}

.genePair label {
  /* flex: 1; */
  text-align: center;
  display: block;
}

.Collapsible {
  text-align: center;
  border: 1px solid #ccc;
  padding: 0;
  margin: 10px;
}
.Collapsible > span {
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  display: block;
  background-color: #f2f2f2;
}
.Collapsible > div {
  padding: 10px;
}
.Collapsible.customTrait > div {
  padding: 0;
}

.values6 section {
  flex-basis: 33%;
  font-size: 14px;
  text-align: center;
}

.values section {
  flex-basis: 50%;
  font-size: 14px;
  text-align: center;
}
