.simHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

@media screen and (min-width: 600px) {
  .simHeader {
    margin-left: 18%;
    margin-right: 18%;
  }
}
@media screen and (min-width: 800px) {
  .simHeader {
    margin-left: 30%;
    margin-right: 30%;
  }
}
@media screen and (min-width: 1000px) {
  .simHeader {
    margin-left: 37%;
    margin-right: 37%;
  }
}
