nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
  background-color: rgb(105, 105, 105);
  border-bottom: rgb(45, 45, 47) 1px solid;
  color: 1px, solid, rgb(88, 136, 156);
}

.icon {
  float: left;
  margin-left: 2px;
}
/* .log {
  float: right;
  margin: 3px;
  margin-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 8px;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  background-color: #eae0c2;
  border-radius: 15px;
  border: 2px solid #333029;
  cursor: pointer;
  color: #505739;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 8px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
} */

img {
  width: 40px;
  height: 40px;
  margin: 0px;
}

/* .log:hover {
  background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  background-color: #ccc2a6;
}
.log:active {
  position: relative;
  top: 1px;
} */

.log {
  float: right;
  margin: 3px;
  margin-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
  box-shadow: 4px 4px 3px -2px #403925;
  background: linear-gradient(to bottom, #ffffff 5%, #575757 100%);
  background-color: #ffffff;
  border-radius: 22px;
  font-family: Arial;
  border: 1px solid #333029;
  cursor: pointer;
  color: #000000;
  font-size: 14px;
  padding: 6px 8px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #73573b;
}
.log:hover {
  background: linear-gradient(to bottom, #575757 5%, #ffffff 100%);
  background-color: #575757;
  box-shadow: 0px 0px 26px 0px #ffffff;
}
.log:active {
  position: relative;
  top: 1px;
}
