.background {
  position: relative;
  display: ruby-base;
  top: 0;
  left: 0;
  z-index: 0;
}

p {
  border-style: inset;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  background-color: #ffffff;
}

body {
  background-color: rgb(32, 32, 32);
}

main {
  font-family: 'Noto Sans', sans-serif;
}

.SBG {
  background: linear-gradient(to bottom, #ffffff 5%, #dddddd 100%);
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid #000000;
  color: #000000;
  text-shadow: 0px 1px 0px #f1f1f1;
}

h1 {
  font-size: 30px;
  padding: 15px 50px;
  text-decoration: none;
}

h2 {
  font-size: 25px;
  padding: 15px 40px;
  margin: 5px;
  text-decoration: none;
}

h3 {
  font-size: 20px;
  padding: 10px 30px;
  text-decoration: none;
}

h4 {
  margin: 5px;
  font-size: 15px;
  padding: 7px 15px;
  text-decoration: none;
}
.titleAlign {
  text-align: center;
}

@media screen and (min-width: 600px) {
  p,
  .backUp {
    margin-left: 13%;
    margin-right: 13%;
    padding: 8px;
    font-size: 18px;
  }
}
@media screen and (min-width: 800px) {
  p,
  .backUp {
    margin-left: 19%;
    margin-right: 19%;
    padding: 8px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1000px) {
  p,
  .backUp {
    margin-left: 23%;
    margin-right: 23%;
    padding: 8px;
    font-size: 20px;
  }
}
