.background {
  position: relative;
  display: ruby-base;
  top: 0;
  left: 0;
  z-index: 0;
}

.particles {
  position: 'absolute';
  top: 0;
  left: 0;
  width: '100%';
  height: '100%';
}

p {
  border-style: inset;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

body {
  background-color: rgb(77, 77, 77);
}

main {
  font-family: 'Noto Sans', sans-serif;
  /* background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(132, 203, 226, 1) 73%,
    rgba(0, 212, 255, 1) 100%
  ); */
  /* height: 100%; */
}
