.background {
  position: relative;
  display: ruby-base;
  top: 0;
  left: 0;
  z-index: 0;
}

.particles {
  position: 'absolute';
  top: 0;
  left: 0;
  width: '100%';
  height: '100%';
}

p {
  border-style: inset;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  background-color: #ffffff;
}

body {
  background-color: rgb(32, 32, 32);
  /* background: rgb(1, 0, 22);
  background: linear-gradient(
    90deg,
    rgba(1, 0, 22, 1) 0%,
    rgba(20, 0, 0, 1) 64%,
    rgba(0, 15, 5, 1) 100%
  ); */
}

main {
  font-family: 'Noto Sans', sans-serif;
  /* background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(132, 203, 226, 1) 73%,
    rgba(0, 212, 255, 1) 100%
  ); */
  /* height: 100%; */
}

/* .link,
.infoTile {
  background: linear-gradient(to bottom, #ffffff 5%, #8b8b8b 100%);
  background-color: #ffffff;
  border-radius: 22px;
  border: 1px solid #333029;
  cursor: pointer;
  color: #000000;
  font-size: 18px;
  padding: 7px 14px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #73573b;
}
.link:hover,
.infoTile:hover {
  background-color: #575757;
  box-shadow: 0px 0px 26px 0px #ffffff;
}
.link:active,
.infoTile:active {
  position: relative;
  top: 1px;
} */

/* a {
  text-decoration: none;
  color: #000000;
  text-shadow: 0px 1px 0px #73573b;
} */

.SBG {
  background: linear-gradient(to bottom, #ffffff 5%, #dddddd 100%);
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid #000000;
  color: #000000;
  text-shadow: 0px 1px 0px #999999;
}

h1 {
  font-size: 30px;
  padding: 15px 50px;
  text-decoration: none;
}

h2 {
  font-size: 25px;
  padding: 15px 40px;
  margin: 5px;
  text-decoration: none;
}

h3 {
  font-size: 20px;
  padding: 10px 30px;
  text-decoration: none;
}

h4 {
  margin: 5px;
  font-size: 15px;
  padding: 7px 15px;
  text-decoration: none;
}
.titleAlign {
  text-align: center;
}
