.values6 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 1%;
  border-right: 1px black dotted;
  border-left: 1px black dotted;
  border-radius: 10px;
}
.values4 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 6%;
  margin-right: 6%;
  border-right: 1px black dotted;
  border-left: 1px black dotted;
  border-radius: 10px;
}

.valuesO4 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 107px;
  border-right: 1px black dotted;
  border-left: 1px black dotted;
  border-radius: 10px;
}

.valuesO5 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 5px;
}

.valuesO6 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 5px;
}

.valuesBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.valueTitles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.explanation {
  margin-top: 20px;
  /* display: flex; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.oneTrait {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 4px;
  padding: 4px;
}

.Collapsible__contentInner {
  padding: 5px;
}

.title {
  font-size: 20px;
  padding: 7px 15px;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  text-decoration: none;
}

.backButton{
  margin-top: 8px;
  margin-left: 8px;
  position: absolute;
}

.marginTop{
  margin-top: 20px;
}

.niceBorder{
  border-right: 1px black dotted;
    border-left: 1px black dotted;
    border-radius: 10px;
    margin-left: 34%;
    margin-right:34%;
}

.twoTrait{
  display:flex;
  align-items: center;
  justify-content: center;
}

.green{
  color: green;
}

.red{
  color: red; 
}

.explanation2{
  margin-left: 10%;
  margin-right: 10%;
}

.traitInformation {
  margin-right: 9%;
  margin-left: 9%;
}

.align {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .traitInformation {
    margin-left: 19%;
    margin-right: 19%;
  }
}
@media screen and (min-width: 800px) {
  .traitInformation {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media screen and (min-width: 1000px) {
  .traitInformation {
    margin-left: 30%;
    margin-right: 30%;
  }
}
