.values6 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px black solid;
  margin-left: 1%;
  margin-right: 1%;
  background-color: gray;
}
.values4 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px black solid;
  margin-left: 6%;
  margin-right: 6%;
  background-color: rgb(204, 204, 204);
}

.valuesO4 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px black solid;
  margin-left: 36%;
  margin-right: 36%;
}
.valuesO6 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px black solid;
  margin-left: 33%;
  margin-right: 33%;
  padding-top: 5px;
}

.valuesBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.valueTitles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.explanation {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.oneTrait {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 4px;
  border: 1px black solid;
  padding: 4px;
  background-color: white;
}

.geneTile {
  background-color: white;
}

.Collapsible__contentInner {
  background-color: white;
}
