.values6 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px black solid;
  margin-left: 1%;
  margin-right: 1%;
}
.values4 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px black solid;
  margin-left: 6%;
  margin-right: 6%;
}

.valuesO4 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px black solid;
  margin-left: 38%;
  margin-right: 38%;
}
.valuesO6 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px black solid;
  margin-left: 33%;
  margin-right: 33%;
}

.valuesBox {
  display: flex;
  flex-direction: row;
}

.valueTitles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.explanation {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
